#homepage-banner {
    position: absolute;
    color: white;
    top: 30%;
    left: 10%;
    right: 10%;
    text-align: center;
    background-color: #29324183;
    padding: 50px;
}

#img-banner {
    width: 100%;
    min-width: 800px;
    height: auto;
    min-height: 400px;
}